
body{
    background: rgba(25, 30, 46, 0.912);
    color:goldenrod;
    text-align: center;
    
}
button{
    color:goldenrod;
    background-color: rgba(110, 79, 79, 0.138);
    height: 50px;
    width: 50px;
    font-size: 15px;
}
input{
    background-color:rgba(157, 121, 121, 0.347);
    font-size: 20px;
    color: rgba(242, 233, 233, 0.722);
    margin-top: -10px;

}
h1{
    font-size:50px;
    text-decoration: underline;
}